body{
    border: solid 5px;
    width:510px;
    height: 550px;
    margin: auto;
    border-radius: 10px;
    border-color:blue
}

#title{
    text-align: center;
    margin-top: 50px;
}

#face-button{
    width: 150px;
    height: 50px;
    margin-left: 100px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-size: 15px;
}
  
 #google-button{
     width: 150px;
     height: 50px;
     margin-left: 10px;
     border-radius: 5px;
     background-color: white;
     font-size: 15px;
 }
        
    #container{
        width: 300px;
        margin: auto;
        font-size: 20px;
        margin-top: 50px;
        
    }
    #navigasion{
        margin-top: 50px;
    }
    #username,
    #password {
        width: 100%;
        margin-top: 10px;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 10px;
        background-color: rgb(224, 220, 220);
    }

    #form-button{
        background-color: black;
        color: white;
        width: 102%;
        height: 50px;
        border-radius: 10px;
    }
    footer{
        width: 200px;
        margin: auto;
        margin-top: 50px;
        color: gray;
    }
 