body{

    width:510px;
    height: 550px;
    margin: auto;
    
}

#title{
    text-align: center;
    margin-top: 50px;
    font-weight: lighter;
}

#face-button{
    width: 150px;
    height: 50px;
    margin-left: 100px;
    border-radius: 5px;
    background-color: rgb(59, 89, 152);
    color: white;
    font-size: 15px;
}
  
 #google-button{
     width: 150px;
     height: 50px;
     margin-left: 10px;
     border-radius: 5px;
     background-color: white;
     font-size: 15px;
 }
        
    #container{
        width: 300px;
        margin: auto;
        font-size: 20px;
        margin-top: 50px;
        
    }
    #navigasion{
        margin-top: 50px;
    }
    #username,
    #password {
        width: 100%;
        margin-top: 10px;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 10px;
        background-color: rgb(247, 247, 247);
        color: rgb(85, 85, 85);
    }

    #form-button{
        background-color: black;
        color: white;
        width: 102%;
        height: 50px;
        border-radius: 10px;
    }
    footer{
        width: 200px;
        margin: auto;
        margin-top: 50px;
        color: rgb(107, 109, 107);
    }
 
    #sign,
    #forgot{
        color: rgb(153, 181, 215);
        font-weight: lighter;
    }
    #border{
        border: solid 12px;
        border-image:linear-gradient(to right, #21BFE2,#9C55F3 ,#DB1DFA ) 30;
    }